.txt {
  /* border: solid red ; */
  text-align: center;
  /* color: #000; */
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.dice_pic {
  height: 260px;
  width: 220px;
  /* border: solid gray; */
  margin: 0 auto;
  margin-top: 30px;
}
.dice_pic img {
  width: 99%;
  /* width: 220px; */
  /* height: 240px; */
  /* border: solid black; */
  transition: all 0.3s ease-in;
}

.dice_pic img:hover {
  /* height: 240px; */
  /* width: 220px; */

  cursor: pointer;
  opacity: 0.9;
  transition: all 0.3s ease-in;
}
